<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<h1>Transaction List</h1>

<table class="table">
        <thead>
            <tr>
                <th>Name:</th>
                <td> <%= session.user.firstName %> <%= session.user.lastName %></td>
            </tr>
             <tr>
                <th>Income this month:</th>
                <td><%= formatCurrency(income) %></td>
            </tr>
            <tr>
                <th>Expense this month:</th>
                <td><%= formatCurrency(expense) %></td>
            </tr>
            <tr>
                <th>Total money:</th>
                <td><%= formatCurrency(money) %></td>
            </tr>
      </table>

<a href="/transaction/<%= session.user.id%>/add-income" class="btn btn-primary" role="button">Add Income</a>
<a href="/transaction/<%= session.user.id%>/add-expense" class="btn btn-primary" role="button">Add Expense</a>
<br>
<br>
<form action="/transaction" method="GET">
  <div class="form-group">
      <label for="fromDate">From:</label>
      <input type="date" class="form-control" name="fromDate">
    </div>
    <div class="form-group">
        <label for="untilDate">Until:</label>
        <input type="date" class="form-control" name="untilDate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br><br>
<table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Date</th>
        <th>Category</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% if(data !== undefined) { %>
        <% data.forEach( (row, index) => { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= row.date_transaction.toDateString() %></td>
            <td><%= row.Expenses[0].categoryName %></td>
            <td><%= formatCurrency(row.Expenses[0].ExpensesTransaction.price) %></td>
            <td><a href="/transaction/<%= row.id %>/edit-expense" class="btn btn-primary btn-sm" role="button">Edit</a> | <a href="/transaction/<%= session.user.id%>/<%=row.id %>/delete-expense" onclick="return confirm('Delete this expense?')" class="btn btn-primary btn-sm" role="button">Delete</a> </td>
          </tr>
        <% }) %>
      <% } %>
      
    </tbody>
</table>

<%- include ../partials/footer.ejs %>

