<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<h1>Transaction List</h1>

<table class="table">
        <thead>
            <tr>
                <th>Name:</th>
                <td> <%= session.user.firstName %> <%= session.user.lastName %></td>
            </tr>
             <tr>
                <th>Income this month:</th>
                <td><%= income %></td>
            </tr>
            <tr>
                <th>Expense this month:</th>
                <td><%= expense %></td>
            </tr>
            <tr>
                <th>Total money:</th>
                <td><%= money %></td>
            </tr>
      </table>

<a href="/transaction/<%= session.user.id%>/add-income" class="btn btn-primary" role="button">Add Income</a>
<a href="/transaction/<%= session.user.id%>/add-expense" class="btn btn-primary" role="button">Add Expense</a>

<div class= "monthVisual" id ="<%= items %>"> </div>

<script>
    var state = JSON.parse('<%= items %>')
    
    console.log(state)
    
</script>

<%- include ../partials/footer.ejs %>

